# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Assign each to a variable called cars1 and cars2

In [1]:
import pandas as pd
df_cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
df_cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

df_cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [2]:
df_cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
df_cars1 = df_cars1.loc[:, "mpg":"car"]

### What is the number of observations in each dataset?

In [4]:
df_cars1.shape

(198, 9)

In [5]:
df_cars2.shape

(200, 9)

### Join cars1 and cars2 into a single DataFrame called cars

In [6]:
df_cars = df_cars1.append(df_cars1)
df_cars

C:\Users\vipul\AppData\Local\Temp\ipykernel_3604\3875567703.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cars = df_cars1.append(df_cars1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [7]:
import numpy as np
owners= np. random.randint(15000, high=73001, size=396, dtype='l')
owners

array([52694, 26350, 22520, 50436, 49507, 39620, 67245, 38288, 27323,
       27495, 31785, 36842, 47115, 63183, 62985, 41576, 53875, 32681,
       55085, 37422, 31999, 29173, 29231, 59216, 53623, 58962, 31601,
       40643, 54583, 19128, 35127, 15671, 31320, 54408, 66204, 70830,
       71510, 49757, 56068, 45795, 44754, 60623, 36689, 49149, 58089,
       59991, 56291, 53858, 15081, 48916, 30694, 52358, 62651, 63168,
       57596, 39174, 72420, 50011, 67282, 16978, 43489, 32563, 34839,
       37517, 16000, 52984, 58935, 38985, 43638, 22931, 58900, 64045,
       18339, 34136, 55132, 29188, 56083, 16671, 33092, 40391, 43137,
       48853, 42322, 37278, 30500, 38556, 34294, 71047, 46731, 17523,
       54047, 31977, 40275, 68425, 29967, 45208, 36174, 54527, 67777,
       21097, 38778, 54327, 45772, 34043, 27984, 24247, 15612, 19287,
       53362, 68836, 35722, 70166, 57556, 48725, 34264, 36934, 52624,
       42111, 54462, 58174, 19127, 68417, 57469, 23171, 19847, 50265,
       18495, 51830, 64989, 43308, 68330, 22730, 25985, 68089, 56628,
       35319, 25224, 34965, 43809, 54472, 16527, 18926, 60657, 33200,
       36142, 35712, 17994, 51527, 36187, 36647, 34822, 35420, 40264,
       25756, 53391, 47225, 45499, 72827, 67762, 71568, 39131, 46133,
       43573, 28834, 45761, 60151, 22419, 35628, 60124, 60168, 29962,
       47701, 72961, 64448, 22265, 45085, 65945, 58314, 60425, 68349,
       54992, 51454, 34367, 56390, 37358, 46029, 21366, 70348, 56688,
       65374, 60974, 15110, 48187, 53712, 58643, 59678, 63632, 59600,
       30676, 43444, 72248, 70281, 17921, 64308, 33391, 49754, 38083,
       27084, 35008, 17980, 24721, 44038, 49298, 53394, 67818, 32832,
       23475, 44728, 32396, 51459, 15757, 70857, 25087, 50431, 50736,
       55274, 28381, 53752, 60616, 37897, 27660, 20821, 65139, 45177,
       40618, 53610, 26767, 18745, 58048, 49363, 50744, 37363, 18022,
       21358, 69666, 50977, 53151, 33538, 23100, 23175, 24215, 32099,
       70643, 50784, 45597, 70020, 41011, 49535, 61691, 18234, 38817,
       55968, 50575, 68661, 57963, 50018, 33508, 33843, 19042, 61511,
       57683, 57798, 37156, 30169, 50314, 53032, 66352, 32005, 32244,
       42616, 26998, 25024, 41290, 38313, 16842, 38939, 31787, 31338,
       52566, 68602, 29007, 34278, 71201, 48530, 33866, 58189, 66202,
       60565, 70061, 64845, 45305, 32981, 45910, 40725, 67241, 38760,
       71437, 40441, 38138, 44745, 69596, 31616, 15759, 30103, 65748,
       16141, 41013, 23117, 36733, 37792, 45827, 21423, 32139, 35917,
       62211, 42255, 63587, 53267, 68300, 46803, 51240, 32634, 60471,
       56978, 26548, 72228, 42454, 30626, 19761, 70577, 26520, 23720,
       20567, 61996, 29040, 64286, 64853, 28748, 67031, 66315, 50753,
       27618, 72474, 59279, 20011, 72282, 62587, 69015, 53117, 18214,
       50073, 53993, 57057, 26543, 39401, 16544, 72608, 19949, 50377,
       45121, 36490, 70111, 45843, 42563, 70838, 32326, 64658, 58467,
       60293, 47362, 21629, 22336, 64876, 63997, 42195, 63144, 42317,
       19799, 48478, 38804, 34187, 41949, 29788, 16319, 17743, 31160])

### Add the column owners to cars

In [8]:
df_cars['owner'] = owners
df_cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owner
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,52694
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,26350
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,22520
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,50436
4,17.0,8,302,140,3449,10.5,70,1,ford torino,49507
...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,41949
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,29788
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,16319
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,17743
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,31160